<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd "
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<bean class ="com.springcore.BeanScopes.Teacher" name = "teacher" scope = "prototype"/>

	<bean class="com.springcore.BeanScopes.Student" name="Student">
		<property name="studentName" value="Gourav" />
		<property name="studentCity" value="Timarni" />
		<property name="studentAddress" value="word.no 6" />
	</bean>




</beans>